@import '../../../assets/styles/variables.scss';

.Container {
  width: 800px;
  box-shadow: 0 -8px 16px rgba(0, 0, 0, 0.1);
  border-bottom: none;
  background-color: $color-white;
  border-radius: 15px 15px 0 0;
  display: flex;
  justify-content: center;
}
.Tools {
  display: flex;
  background-color: $bg-color-toolbar;
  align-items: center;
  padding: 9px 16px;
  border-radius: 0 0 8px 8px;
}
.ToolButton {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 21px;
  color: $color-default;
  border: none;
  background-color: transparent;
  border-radius: 4px;
  min-width: 24px;
  padding: 3px 6px;
  margin-right: 2px;
  transition: background-color 0.1s ease;

  &:hover {
    background-color: $bg-color-toolbar-button-hover;
  }
  &:active {
    background-color: $bg-color-toolbar-button-active;
  }
  &:last-child {
    margin-right: 0;
  }
}
.Active {
  background-color: $bg-color-toolbar-button-active;
}
.MenuActive {
  background-color: $bg-color-toolbar-button-hover;
}
.Divider {
  width: 1px;
  height: 100%;
  margin-left: 4px;
  margin-right: 4px;
  border-left: 2px solid $color-default;
}
.Caret {
  margin-left: 12px;
}
.TagMenu {
  display: flex;
  flex-direction: column;
  min-width: 120px;
  padding: 16px;
  z-index: 100;
  position: absolute;
  background-color: $bg-color-toolbar;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
  top: 42px;
  left: 0;
  border-radius: 8px;
}
.TagItem {
  display: flex;
  padding: 4px;
  text-align: center;
  align-items: center;
  line-height: 28px;
  border-radius: 8px;
  transition: background-color 0.1s ease;
  &:hover {
    background-color: $bg-color-toolbar-button-hover;
  }
}
