@import '../../../assets/styles/variables.scss';

.Container {
  padding-top: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Header {
  font-size: 74px;
  font-weight: 600;
  margin-bottom: 21px;
  letter-spacing: 21px;
  color: $color-default;
  font-family: 'Caveat';
}
.EditorContainer {
  position: relative;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.1);
  border-top: none;
  border-radius: 0 0 15px 15px;
  width: 800px;
  background: $color-white;
}
//Kinda weird that the placeholder is an element outside the input; need css magic to be inline with it
.Placeholder {
  color: $color-placeholder;
  position: absolute;
  top: 32px;
  left: 32px;
  font-size: 21px;
  user-select: none;
  display: inline-block;
  pointer-events: none;
  line-height: 28px;
}
.Input {
  min-height: 150px;
  resize: none;
  font-size: 21px;
  line-height: 28px;
  position: relative;
  padding: 32px;
  border-radius: 15px;
  outline: 0;
}
.Paragraph {
  margin: 0 0 21px 0;
}
.Underline {
  text-decoration: underline;
}
.Strikethrough {
  text-decoration: line-through;
}
.Bold {
  font-weight: 600;
}
.Italic {
  font-style: italic;
}
