@import '../styles/variables.scss';

merge-tag {
  color: $label-blue;
  background-color: #d8e8f6;
  padding: 2px 4px;
  line-height: 24px;
  box-shadow: inset 0px -1px 0px #3a8dd1;
  display: inline;
  pointer-events: none;
}
