//Text color
$color-default: #002240;
$color-white: #fff;
$color-black: #000;
$color-placeholder: rgb(188, 188, 188);

//Background color
$bg-color-main: #61e6f8;
$bg-color-toolbar: #eff1f5;
$bg-color-toolbar-button-hover: #b0b4b7;
$bg-color-toolbar-button-active: #9fa3a6;

//Background Gradients
$bg-gradient-main: linear-gradient(90deg, #69b7eb, #b3dbd3, #f4d6db);

//Label color
$label-blue: #3a8dd1;
